---
import Page from "../layouts/Page.astro";
import SocialMediaIcon from "../components/SocialMediaIcon.astro";
---

<Page title="About Me" description="About JLP">
  <div class="flex flex-col lg:flex-row lg:items-start gap-6 lg:gap-8">
    <div class="w-full lg:w-1/3 flex justify-center lg:justify-start">
      <img class="!mt-0 w-full max-w-sm lg:max-w-none" src="/images/jp-2025.png" alt="Photo of Jennifer Lyn Parsons" />
    </div>
    <div class="w-full lg:w-2/3">
      <h1 class="!mt-0 mb-4 lg:mb-2 text-2xl sm:text-3xl lg:text-4xl text-jlp-burnt">Hi, I'm JP!</h1>
      <div class="prose prose-sm sm:prose-base lg:prose-lg max-w-none">
        <p>I write fantasy, soft sci-fi, and fairy tales, often with neurodiverse or queer characters. Occasionally, I'll write stories set in our own world.</p>
        <p>In addition to working on my own writing, I also run <a href="http://lunastationquarterly.com/">Luna Station Quarterly</a>, an online literary journal devoted to female-identified speculative fiction writers. The Quarterly is the daughter publication of the small publishing company I run, <a href="http://lunastationpress.com">Luna Station Press</a>.</p>
        <p>Outside of writing (and its close associate, reading), I'm a <a href="https://aquantityofstuff.com/">software engineer</a> working to make the internet more human-friendly. I can also be found devouring comic books and video games, watching baseball, listening to music, and making things out of wool, paper, and wood.</p>
        <div class="flex gap-3 items-center">
          <SocialMediaIcon href="https://bsky.app/profile/pixelpaperyarn.bsky.social" src="/images/social_media_icons/bluesky_icon.png" alt="Follow me on Bluesky" />
          <SocialMediaIcon href="https://open.spotify.com/user/dafjk1xn2h0ziovaemi8i3v7q?si=f8f4bafef0d54dd2" src="/images/social_media_icons/spotify.png" alt="Follow me on Spotify" />
          <SocialMediaIcon href="https://www.goodreads.com/author/show/6160810.Jennifer_Lyn_Parsons" src="/images/social_media_icons/goodreads_icon.png" alt="Follow me on Goodreads" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="!mt-0 mb-4 lg:mb-2 text-2xl sm:text-3xl lg:text-4xl text-jlp-burnt">Interviews</h2>
    <ul>
      <li>
        <a href="https://kattomic-energy.blogspot.com/2012/03/feminist-fiction-friday-interview-with.html">Feminist Fiction Friday--Interview with Jennifer Parsons of Luna Station Quarterly </a>
      </li>
      <li>
        <a href="https://eternalhauntedsummer.com/issues/autumn-equinox-2012/jennifer-lyn-parsons/">Eternal Haunted Summer</a>
      </li>
      <li>
        <a href="https://weightlessbooks.com/luna-station-quarterly-editor-interview-jennifer-lyn-parsons/">Weightless Books: Luna Station Quarterly Editor Interview</a>
      </li>
      <li>
        <a href="https://duotrope.com/interview/editor/4422/luna-station-quarterly">Duotrope Editor Interview</a>
      </li>
    </ul>
  </div>
</Page>
