---
const { href, class: className = "" } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class={`
    text-white 
    ${isActive ? "text-orange-300 border-b border-orange-300" : ""}
    ${className}
  `}
>
  <slot />
</a>
