---
import Page from "@layouts/Page.astro";
import { SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import BookCard from "@components/BookCard.astro";

const books = (await getCollection("books")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Page title="books" description={SITE_DESCRIPTION}>
  <div class="container mb-20 grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8 max-w-6xl">
    {
      books.map((book) => (
        <BookCard 
          book={book}
          variant="horizontal"
          showTag={true}
          showReadMore={true}
        />
      ))
    }
  </div>
</Page>
